[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
plotly-express = "*"
dash = "*"
dash-bootstrap-templates = "*"

[dev-packages]
dash-tools = "*"

[requires]
python_version = "3.11"
